<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>You shouldn't have messed with the internet</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Whats begun cannot be undone</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      You will live to regret this
    </footer>
  </div>

</body>

</html>